@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

nav {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    border-bottom: solid 1px gray;
}

/* NAV BAR STYLING */

.nav-links {
    display: flex;
    list-style-type: none;
    font-size: .9rem;
    padding: 0 5%;
}

.nav-links li {
    padding: 0 5%;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: solid 1px black;
}

/* MAIN SECTION STYLING */

main {
    min-height: 90vh;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2, .container a {
    padding: 20px;
    margin: 20px;
}

.container h2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    border: solid 1px grey;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
